/* * {
    border: 1px solid black;
} */

.header {
    font-size: 80px;
    text-align: center;
    margin-bottom: 12px;
    padding: 12px;
}

.game {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.grid {
    display: flex;
    flex-direction: column;
    height: 512px;
    width: 512px;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    border: 2px solid black;
}

.xDimension {
    display: flex;
    width: 30px;
    border: 1px solid black;
}

.yDimension {
    display: flex;
    height: 30px;
    border: 1px solid black;
}

.controls {
    display: flex;
    flex-direction: column;
    height: 240px;
    width: 180px;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
}

.controls .Width,
.controls .Height {
    width: 48px;
    height: 48px;
}

.footer {
    padding: 12px;
}