/* * {
    border: 1px solid black;
} */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #777777;
}

.header {
    font-size: 80px;
    text-align: center;
    margin-bottom: 12px;
    padding: 12px;
    border: 2px solid black;
    width: 512px;
    background-color: #eaeaea;
}

.game {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.grid {
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    height: 512px;
    width: 512px;
    margin-bottom: 12px;
    border: 10px solid black;
    background-color: white;
    border-radius: 10px;
}

.box {
    border: 1px solid #f7f7f7;
}

.green {
    background-color: #699a3c;
}

.black {
    background-color: black;
}

.erase {
    background-color: none;
}

.controls {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 512px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 10px;
}

.sizeControl {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-evenly;
    align-items: center;
}

.colorControl {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-evenly;
    align-items: center;
}

.controls #gridSize,
.controls #submit,
.controls #erase, 
.controls #black,
.controls #multicolor,
.controls #gradient {
    width: 100px;
    height: 24px;
    border: 1px solid darkgray;
    background-color: white;
}

.controls #multicolor {
    background-image: linear-gradient(to right, red 0%, yellow 30%, green 60%, blue 100%);
    font-weight: bold;
  }

  .controls #black {
    background-color: black;
    color: white;
    font-weight: bold;
  }

  .controls #erase {
    background-color: #F7C0B5;
  }

.controls .Width,
.controls .Height {
    width: 48px;
    height: 48px;
}

.footer {
    padding: 12px;
}