* {
    border: 1px solid black;
}

.header {
    font-size: 80px;
    text-align: center;
    margin-bottom: 12px;
    padding: 12px;
}

.game {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 12px;
    justify-content: center;
}

.grid {
    display: flex;
    height: 512px;
    width: 512px;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px; 
}

.box {
    display: flex;
    min-height: 32px;
    min-width: 32px;
}

/* .controls {
    display: flex;
    height: 240px;
    width: 180px;
    justify-content: center;
    align-items: center;
} */

.footer {
    padding: 12px;
}